@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  color: black;
}
.content{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 200px;
}
img {
  width: 600px;
  text-align: center;
  padding-top: 200px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  margin: 15px 8px;
  padding: 8px 24px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #eee;
}
.left-links{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
    margin-left: 30px;
}
.right-links{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
    margin-right: 30px;
}
li{
    display: flex;
    padding: 10px;
    font-size: large;
    font-style: normal;
}